name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # Checkout the code
      - uses: actions/checkout@v5

      # Install Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "25"

      # Build the site
      - name: Build
        env:
          NODE_OPTIONS: '--localstorage-file=".docusaurus/localstorage.json"'
        run: |
          npm ci
          npm run build

      # Deploy the site
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build
          force_orphan: true
